[Unit]
Description=DDNS Service
After=network.target

[Service]
WorkingDirectory=/home/ubuntu/ddns/
ExecStart=/home/ubuntu/ddns/DdnsService
Restart=always
SyslogIdentifier=dotnet core console
User=root
Environment=ASPNETCORE_ENVIRONMENT=Production

[Install]
WantedBy=multi-user.target